.about {
  @include bgImage("../images/about_bg.jpg");
  @include flex;
  &__alpha {
    margin-top: -5rem;
    width: 100%;
    max-width: 650px;
    text-align: center;
    padding-inline: 1rem;
    &--heading {
      font-size: 4rem;
      color: $white-00;
      font-weight: bolder;
      margin-bottom: 1rem;
    }
    &--para {
      font-size: 1.1rem;
      color: $white-03;
      line-height: 1.35;
    }
    &--button {
      cursor: pointer;
      margin-top: 3rem;
      padding: 1rem 2.5rem;
      font-size: 1.25rem;
      border-radius: $radius-rd;
      background-image: linear-gradient(to right, $blue-00, $blue-05);
      color: $white-00;
    }
  }
}

.hola {
  &__heading {
    margin-bottom: 1.5rem;
    & h1 {
      font-size: 1.75rem;
      color: $black-01;
    }
  }
  &__differ {
    padding-block: 1rem;
  }
}

.cancer {
  display: grid;
  padding: 1rem;
  border-radius: $radius-md;
  border: 1px solid $grey-08;
  box-shadow: $shadow-sm;
  max-height: 60vh;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  &__image {
    grid-row: 1 / -1;
    object-fit: cover;
    height: 100%;
    &--img {
      width: 100%;
      height: calc(60vh - 2rem);
      border-radius: $radius-md;
      box-shadow: $shadow-sm;
      opacity: 0.8;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__detail {
    padding-block: 1rem;
    margin-left: 1rem;
    &--heading {
      font-size: 2rem;
      color: $blue-03;
      margin-bottom: 1.5rem;
    }
    &--para {
      font-size: 1rem;
      line-height: 1.35;
      margin-bottom: 2rem;
      color: $black-03;
    }
    &--button {
      padding: 1rem 2rem;
      background-color: $blue-05;
      font-size: 1.05rem;
      color: $white-01;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 0.25px;
      word-spacing: 1px;
      transition: $default-transition;

      &:hover {
        background-color: $blue-00;
        color: $white-00;
      }
    }
  }
}

@media (max-width: 1320px) {
  .cancer {
    grid-template-columns: 27rem 1fr;
    &__detail {
      margin-top: -1rem;
    }
  }
}

@media (max-width: 1020px) {
  .cancer {
    grid-template-columns: 20rem 1fr;
    &__detail {
      &--heading {
        font-size: 1.75rem;
      }
    }
  }
}

@media (max-width: 820px) {
  .cancer {
    display: flex;
    flex-direction: column;
    max-height: none;
    height: 100%;
    &__image {
      height: 70vh;
      &--img {
        height: 100%;
      }
    }
    &__detail {
      margin-top: 0;
      margin-left: 0;
      padding-block-start: 0;
    }
  }
}

@media (max-width: 600px) {
  .about {
    &__alpha {
      &--heading {
        font-size: 2.5rem;
      }
      &--para {
        font-size: 1rem;
      }
      &--button {
        padding: 0.75rem 2rem;
        font-size: 1rem;
      }
    }
  }
  .hola {
    &__heading {
      & h1 {
        font-size: 1.5rem;
      }
    }
  }

  .cancer {
    &__detail {
      margin-top: 0;
      padding-block-start: 0;
      margin-left: 0;
      &--heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      &--para {
        font-size: 0.95rem;
        margin-bottom: 1.75rem;
      }
      &--button {
        padding: 0.8rem 1.75rem;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .cancer {
    &__image {
      height: 35vh;
    }
  }
  .about {
    &__alpha {
      &--heading {
        font-size: 2rem;
      }
      &--para {
        font-size: 0.95rem;
      }
    }
  }
}
