* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  border: none;
  outline: none;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #2986cc;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: "Figtree", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  color: #323232;
  min-height: 100vh;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.auth__button {
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  background-color: #2986cc;
  color: #e5e5e5 !important;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
}
.auth__button:hover {
  color: #ffffff !important;
}

.menu {
  width: 21px;
  display: none;
}
.menu__bars {
  width: 100%;
  height: 3px;
  background-color: blue;
  border-radius: 3rem;
  transform-origin: 100%;
  transition: all 0.3s;
}
.menu__bars:nth-child(2) {
  margin-block: 0.25rem;
}

.menu[aria-hidden=false] .menu__bars:first-child {
  transform: rotate(-45deg);
}

.menu[aria-hidden=false] .menu__bars:nth-child(2) {
  opacity: 0;
}

.menu[aria-hidden=false] .menu__bars:last-child {
  transform: rotate(45deg);
}

.header {
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  padding-inline: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.header__logo--img {
  width: 25px;
}
.header__logo--text {
  margin-left: 0.75rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #18507a;
  font-family: "Pacifico", cursive;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar__items {
  font-size: 1rem;
  color: #666666;
}
.navbar__items:not(:last-child) {
  margin-right: 1.5rem;
}
.navbar__items.active, .navbar__items:hover {
  color: #2986cc;
}
.navbar__user {
  display: flex;
  align-items: center;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  background-color: #2986cc;
  border-radius: 3px;
  color: #e5e5e5;
  transition: color 0.3s;
}
.navbar__user img {
  margin-left: 0.5rem;
  width: 25px;
}
.navbar__user:hover {
  color: #ffffff;
}
.navbar__logout {
  padding-inline: 0.5rem;
  padding-block: 0.4rem;
  background-color: #cc0000;
  color: #e5e5e5;
  border-radius: 3px;
}
.navbar__logout:hover {
  color: #ffffff;
}

.footer {
  padding-block-start: 1.25rem;
  padding-block-end: 0.5rem;
  padding-inline: 1rem;
  text-align: center;
}
.footer p {
  font-size: 0.9rem;
}
.footer p a {
  text-decoration: underline;
}

.hero {
  border-radius: 3px;
  min-height: 95vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.377)), url("images/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}
.hero__search {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
  padding-block-start: 8rem;
}
.hero__search--label {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.hero__search--inputbox {
  position: relative;
}
.hero__search--inputbox-input {
  width: 100%;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border-radius: 6px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.25rem;
  color: #191919;
  background-color: #e5e5e5;
}
.hero__search--inputbox-input:focus {
  border-bottom: 2px solid #cccccc;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
}
.hero__search--inputbox .el-search-icon {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  z-index: 1;
  height: 100%;
  width: 50px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hero__search--inputbox .el-search-icon:hover {
  color: #2986cc;
}

.trendingbox {
  padding-block: 1.5rem;
  padding-inline: 1.25rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #ffffff;
}
.trendingbox h3 {
  font-size: 1.25rem;
  color: #4c4c4c;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
.trendingbox__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.trendingbox__container .flavors {
  padding: 0.75rem 1.5rem;
  font-size: 1.05rem;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid #e5e5e5;
  color: #666666;
  transition: all 0.3s;
  cursor: pointer;
}
.trendingbox__container .flavors:hover {
  border-color: #b2b2b2;
  color: #000000;
}

@media (max-width: 820px) {
  .header {
    padding-inline: 1.25rem;
  }
  .menu {
    display: block;
    position: fixed;
    right: 1.5rem;
    z-index: 10;
    cursor: pointer;
  }
  .navbar {
    padding-inline: 1rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
  }
  .navbar__items:not(:last-child) {
    margin-right: 0;
    margin-block-end: 1.5rem;
  }
  .navbar[aria-hidden=true] {
    left: 0;
  }
  .hero {
    padding-inline: 1rem;
  }
  .hero__search {
    padding-block-start: 11rem;
  }
  .hero__search--label {
    font-size: 1.25rem;
  }
  .hero__search--inputbox-input {
    font-size: 1.1rem;
  }
}
@media (max-width: 520px) {
  .hero__search {
    padding-block-start: 8rem;
  }
}

/*# sourceMappingURL=App.css.map */
