@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

:root {
  --fontFamily: "Delius", cursive;
  --globalFontSize: 15px;
  --regularWeight: 400;
  --mediunWeight: 500;
  --semiboldWeight: 600;
  --boldWeight: 700;

  --bodyColor: linear-gradient(to right, #231925, #0a000c);
  --navbarColor: linear-gradient(to right, rgb(0, 0, 0), rgb(19, 29, 19));
  --textColor: #dbdbdb;
  --primaryWhite: #ffffff;
  --primaryBlack: #000000;
  --btnBgColor: #f1725c;
  --borderColor: #d365d367;
  --placeholderColr: #beeaff9f;

  --lightShadow: #6313831c 0 7px 15px 0;
  --extraShadow: #00000040 0 13px 25px 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--globalFontSize);
  font-weight: var(--mediunWeight);
}

.app {
  width: 100%;
  height: 100vh;
  background-image: var(--bodyColor);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

input,
button {
  font-family: inherit;
}

a,
Link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: var(--semiboldWeight);
}

.navbar {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  box-shadow: var(--lightShadow);
}

.navbar__logo {
  margin-right: auto;
  font-size: 1.25rem;
  color: var(--primaryWhite);
}

.navbar__currentuser {
  color: var(--primaryWhite);
  font-size: 1.25rem;
  cursor: default;
}

.el__logoutbtn {
  padding: 0.55rem 1.25rem;
  font-size: 0.9rem;
  background-color: var(--btnBgColor);
  color: var(--primaryWhite);
  border-radius: 3rem;
  text-transform: uppercase;
  font-weight: var(--semiboldWeight);
  letter-spacing: 1px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.navbar__links--link {
  margin-left: 1.25rem;
  padding: 0.35rem 1rem;
  border-radius: 3rem;
  color: var(--textColor);
  font-weight: var(--mediumWeight);
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.navbar__links--link:hover {
  border: 2px solid var(--borderColor);
  color: var(--primaryWhite);
}

.navbar__menu {
  width: 22px;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
}

.navbar__menu--bars {
  width: 100%;
  height: 3px;
  margin: 4px 0;
  background-color: var(--primaryWhite);
  border-radius: 3rem;
  transform-origin: 100%;
  transition: all 0.4s ease-in-out;
}

.navbar__menu--bars:last-child {
  margin-bottom: 0;
}

.navbar__menu--bars:first-child {
  margin-top: 0;
}

.navbar__menu[data-shownav="true"] .navbar__menu--bars:last-child {
  transform: rotate(41deg);
}

.navbar__menu[data-shownav="true"] .navbar__menu--bars:first-child {
  transform: rotate(-39deg);
}

.navbar__menu[data-shownav="true"] .navbar__menu--bars:nth-child(2) {
  opacity: 0;
}

@media (max-width: 800px) {
  .navbar__links {
    border-right: 1px solid var(--borderColor);
    position: absolute;
    top: -100%;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: #0a000caf;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--extraShadow);
    transition: top 0.4s ease-in-out;
    z-index: 1;
  }

  .navbar__links[data-shownav="true"] {
    top: 0;
  }

  .navbar__links--link {
    margin: 0.75rem 0;
    border: 1px dotted var(--borderColor);
    border-radius: 0;
    padding: 0.5rem 1.5rem;
  }

  .el__logoutbtn {
    margin: 1rem 0 0;
  }

  .navbar__menu {
    display: block;
  }
}

.auth {
  padding: 1rem;
}

.signup,
.login {
  margin: 3rem auto 0;
  width: min(400px, 100%);
  padding: 1.5rem 1rem;
  border-radius: 0.35rem;
  background-color: var(--textColor);
  box-shadow: var(--extraShadow);
  text-align: center;
}

.el__title {
  font-size: 1.3rem;
  color: var(--primaryBlack);
}

.form {
  margin: 1.5rem 0 0;
}

.form__inputs {
  margin-bottom: 1rem;
}

.form__inputs label {
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
  color: var(--primaryBlack);
  font-weight: var(--semiboldWeight);
  letter-spacing: 1px;
  margin-left: 0.5rem;
}

.form__inputs--input {
  width: 95%;
  padding: 0.65rem 0.35rem;
  border-radius: 0.3rem;
  background-color: #231925d2;
  color: var(--primaryWhite);
  outline: none;
  border: none;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 2px solid transparent;
}

.form__inputs--input:focus {
  border: 2px solid var(--btnBgColor);
}

::placeholder {
  color: var(--placeholderColr);
}

.form__btnbox {
  margin-bottom: 1.25rem;
}

.btn {
  padding: 0.65rem 3rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--btnBgColor);
  color: var(--primaryWhite);
  font-size: 1rem;
  font-weight: var(--boldWeight);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.que__box--link {
  color: var(--btnBgColor);
  font-weight: var(--semiboldWeight);
  letter-spacing: 1px;
  font-size: 1.05rem;
}

.createrecipe {
  padding: 1rem;
  padding-bottom: 3rem;
  background-image: var(--bodyColor);
}

.createrecipe__box {
  margin: 3rem auto 0;
  width: min(500px, 100%);
  padding: 1.5rem 0;
  border-radius: 0.35rem;
  background-image: linear-gradient(to right, rgb(0, 0, 73), rgb(0, 53, 77));
  box-shadow: var(--extraShadow);
}

.create__recipe--title {
  text-align: center;
  font-size: 1.35rem;
  color: var(--textColor);
}

.recipeform {
  margin: 2rem 1.5rem;
}

.recipe__inputs {
  margin-bottom: 1.5rem;
}

.recipe__inputs--label {
  margin-bottom: 0.55rem;
  margin-left: 0.25rem;
  display: block;
  color: var(--textColor);
}

.recipe__inputs--input {
  width: 96%;
  padding: 0.45rem;
  font-size: 1.15rem;
  color: var(--primaryWhite);
  border: 1px solid transparent;
  outline: none;
  border-radius: 0.45rem;
  background-color: #17001b;
}

.recipe__inputs--input:focus,
.recipe__inputs--textarea:focus {
  border: 1px dotted orangered;
}

.recipe__inputs--input[name="ingredients"] {
  margin-bottom: 0.5rem;
}

.recipe__inputs--textarea {
  width: 96%;
  background-color: #17001b;
  padding: 0.45rem;
  resize: none;
  border-radius: 0.45rem;
  border: 1px solid transparent;
  outline: none;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 1rem;
  color: var(--primaryWhite);
}

.more__ingredients {
  margin: 0.45rem 0 0 0.25rem;
  padding: 0.45rem 1rem;
  border-radius: 0.45rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: var(--semiboldWeight);
  background-color: var(--btnBgColor);
  color: var(--primaryWhite);
}

.recipe__inputs--btnbox {
  text-align: center;
}

.recipe__inputs--btnbox-submit {
  margin-top: 0.5rem;
  padding: 0.65rem 3rem;
  font-size: 1rem;
  font-weight: var(--semiboldWeight);
  background-color: var(--btnBgColor);
  color: var(--primaryWhite);
  outline: none;
  border: 2px solid var(--primaryWhite);
  border-radius: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home {
  padding: 1rem 2rem;
  background-image: var(--bodyColor);
}

.home__title {
  color: var(--textColor);
}

.container {
  margin: 3rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  row-gap: 3rem;
}

.container[data-isloading="true"] {
  place-content: center;
}

.card {
  border-radius: 0.5rem;
  box-shadow: var(--lightShadow);
  cursor: default;
  transition: all 0.45s ease-in-out;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: var(--extraShadow);
}

.card__image {
  object-fit: cover;
  position: relative;
}

.card__image--img {
  border-radius: 0.5rem;
  width: 100%;
  height: 170px;
}

.save {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.95rem;
  background-color: #ffffff;
  color: var(--primaryBlack);
  font-weight: var(--semiboldWeight);
  font-size: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.save[data-saved="true"] {
  background-color: green;
  color: var(--primaryWhite);
  cursor: default;
  user-select: none;
  cursor: not-allowed;
}

.recipe__details {
  padding: 0.85rem;
  margin: 0.85rem 0 0.5rem;
}

.recipe__details--title-el {
  font-size: 0.9rem;
  color: var(--primaryWhite);
  letter-spacing: 0.5px;
}

.recipe__details--gradients,
.recipe__details--author {
  margin: 0.85rem 0;
}

.el-title {
  font-size: 0.8rem;
  color: var(--textColor);
  font-weight: var(--mediunWeight);
}

.el-value {
  color: var(--primaryWhite);
  font-weight: var(--semiboldWeight);
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0.35rem 0 0;
  font-size: 0.8rem;
}

.recipe__details--instructions .el-value {
  text-transform: none;
}

.recipe__details--cookingtime,
.recipe__details--author {
  align-items: center;
  display: flex;
}

.recipe__details--cookingtime .el-title,
.recipe__details--author .el-title {
  margin-right: auto;
}

.readmore__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--btnBgColor);
  font-size: min(100%, 0.85rem);
  outline: none;
  margin-left: 0.5rem;
}

.features {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 5;
}

.features__linkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.45rem;
}

.features__linkbox--links {
  padding: 0.65rem 0.35rem;
  background-color: var(--textColor);
  margin-bottom: 0.35rem;
  width: 100%;
  text-align: center;
  border-radius: 0.35rem;
  font-weight: var(--semiboldWeight);
  color: var(--primaryBlack);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.features__linkbox--links:hover {
  transform: translateY(-2px);
  background-color: var(--primaryWhite);
}

.feature__box {
  position: absolute;
  bottom: 3%;
  right: 115%;
  border-radius: 0.35rem;
  padding: 1rem;
  width: 180px;
  background-color: var(--textColor);
  display: none;
}

::marker {
  font-size: 20px;
  color: var(--btnBgColor);
}

.feature__box ul {
  margin-left: 1rem;
}

.feature__box ul li {
  line-height: 0;
  margin-bottom: 0.5rem;
}

.feature__box ul li h5 {
  font-size: 0.8rem;
  color: var(--primaryBlack);
}

.feature__box--contribute span {
  font-weight: var(--semiboldWeight);
  color: var(--primaryBlack);
}

.arrow {
  position: absolute;
  right: -9%;
  bottom: 9%;
  border-width: 10px;
  border-color: transparent transparent transparent var(--textColor);
  border-style: solid;
}

.feature__box[data-showfeatures="true"] {
  display: block;
}

.loading {
  color: var(--primaryWhite);
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .home,
  .navbar {
    padding: 1rem 1.25rem;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    margin: 1.5rem 0.75rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #0a000c;
}

::-webkit-scrollbar-thumb {
  background: var(--textColor);
  border-radius: 10px;
}
