* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  border: none;
  outline: none;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}
