body {
  font-size: $font-size;
  font-family: $font-family;
  transition: $default-transition;
  color: $black-02;
  min-height: 100vh;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}
