$black-00: #000000;
$black-01: #191919;
$black-02: #323232;
$black-03: #4c4c4c;
$black-04: #666666;
$black-05: #7f7f7f;

$white-00: #ffffff;
$white-01: #f2f2f2;
$white-02: #e5e5e5;
$white-03: #d8d8d8;

$blue-00: #2986cc;
$blue-01: #2478b7;
$blue-02: #206ba3;
$blue-03: #1c5d8e;
$blue-04: #18507a;

$danger-00: #ff4444;
$danger-00: #cc0000;

$grey-00: #808080;
$grey-01: #8c8c8c;
$grey-02: #999999;
$grey-03: #a6a6a6;
$grey-04: #b2b2b2;
$grey-05: #bfbfbf;
$grey-06: #cccccc;
$grey-07: #d8d8d8;
$grey-08: #e5e5e5;
$grey-09: #f2f2f2;
