@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexalign {
  display: flex;
  align-items: center;
}

@mixin flexJustify($prop) {
  display: flex;
  justify-content: $prop;
}

@mixin authButton($bgColor, $color, $isDanger: false) {
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  background-color: $bgColor;
  color: $color;
  border-radius: $radius-sm;
  font-weight: 500;

  @if $isDanger {
    text-transform: uppercase;
    background-color: $danger-01;
  }
}

@mixin bgImage($imageUrl) {
  min-height: 95vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.377)),
    url($imageUrl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  position: relative;
}

@mixin roundButton {
  text-transform: uppercase;
  border-radius: 3rem;
}

@mixin topRadius($value) {
  border-top-right-radius: $value;
  border-top-left-radius: $value;
}

@mixin leftRadius($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin rightRadius($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin bottomRadius($value) {
  border-bottom-right-radius: $value;
  border-bottom-left-radius: $value;
}
