$font-family: "Figtree", sans-serif;
$heading-font: "Pacifico", cursive;
$font-size: 15px;

$default-transition: background-color 0.3s, color 0.3s;
$transition-all: all 0.3s;

$radius-rd: 3rem;
$radius-cl: 50%;
$radius-sm: 3px;
$radius-md: 6px;
$radius-lg: 11px;

$shadow-sm: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-md: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow-lg: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-dr: rgba(0, 0, 0, 0.35) 0px 5px 15px;
