.footer {
  padding-block-start: 1.25rem;
  padding-block-end: 0.5rem;
  padding-inline: 1rem;
  text-align: center;
  border-top: 1px solid $grey-03;
  & p {
    font-size: 0.9rem;
    & a {
      text-decoration: underline;
    }
  }
}
