.header {
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  padding-inline: 2.5rem;
  box-shadow: $shadow-md;

  &__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    &--img {
      width: 25px;
    }

    &--text {
      margin-left: 0.75rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none;
      color: $blue-04;
      font-family: $heading-font;
    }
  }
}
